configuration {
    modi: "drun";
    show-icons: true;
    
    icon-theme: "Papirus"; 
    
    display-drun: "";
    drun-display-format: "{name}";
    
    hover-select: true;
    me-select-entry: "";
    me-accept-entry: "MousePrimary";
}

@theme "style"
