/* ~/.config/eww/scss/_colors.scss */
* {
	bg: #0b0b09;       
	fg: #161614; 
	white: #ffffff;

	color0: #070601;
	color1: #606F86;
	color2: #9A684A;
	color3: #9C654C;
	color4: #D07D2A;
	color5: #F38A29;
	color6: #FACF3A;
	color7: #FFE351;
	color8: #B69100;
	color9: #606F86;
	color10: #9A684A;
	color11: #9C654C;
	color12: #D07D2A;
	color13: #F38A29;
	color14: #FACF3A;
	color15: #F7E8A0;
}
