/* ~/.config/eww/scss/_colors.scss */
* {
	bg: #0b0b09;       
	fg: #161614; 
	white: #ffffff;

	color0: #01070A;
	color1: #49556C;
	color2: #4D5971;
	color3: #546477;
	color4: #5C7C8F;
	color5: #AAD4E4;
	color6: #A4D5E9;
	color7: #C8EDFD;
	color8: #799BA9;
	color9: #49556C;
	color10: #4D5971;
	color11: #546477;
	color12: #5C7C8F;
	color13: #AAD4E4;
	color14: #A4D5E9;
	color15: #DBEEF5;
}
