hyprland
hyprlock
xdg-desktop-portal-hyprland
awww
eww
wallust

rofi-wayland
alacritty
nautilus
zen-browser-bin
accountsservice
hyprshot
satty

fastfetch
jq
socat
file
brightnessctl
glxinfo
btop
fastfetch
udisks2
udiskie
vim-plug
playerctl
wl-clipboard

networkmanager
network-manager-applet
bluez
bluez-utils
blueman

pavucontrol
pipewire
pipewire-pulse
pipewire-jack
wireplumber

mako
libnotify

qt5ct
qt6ct
nwg-look
adwaita-icon-theme
adw-gtk3
adwaita-qt5
adwaita-qt6
libadwaita
gnome-themes-extra
gtk-engine-murrine

ttf-jetbrains-mono-nerd
ttf-dejavu
ttf-liberations
noto-fonts-emoji
noto-fonts-cjk
woff2-font-awesome
otf-font-awesome
gnu-free-fonts
adwaita-fonts

sddm
sddm-silent-theme
