/* ~/.config/eww/scss/_topbar.scss */

.topbar-container {
  background-color: $bg;
  color: $white;

  margin: 0px;
  border-radius: 0px 0px 6px 6px;
  padding: 0px 10px;
}




/* =========================================================
   LEFT MODULES
========================================================= */
.powermenu-btn {
  color: $accent-red;
  margin-right: 5px; 
  font-weight: bold;
}

.powermenu-btn:hover {
  color: $white; 
}

.focused-window {
  color: $white;
}




/* =========================================================
   CENTER MODULES (Pill Style Workspaces)
========================================================= */

.workspace {
  min-height: 9px;
  min-width: 18px;
  
  border-radius: 6px; 
  
  background-color: $fg; 
  
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.workspace.active {
  min-width: 40px;
  background-color: $white; 
}

.workspace:hover {
  background-color: $fg;
}



/* =========================================================
   RIGHT MODULES
========================================================= */
.tray {
  margin-right: 5px; 
}

.clock {
  color: $white;
  font-weight: bold;
}
